Ensure you are using Python 3.0 and above

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE". Delete the 'raise NotImplementedError()' once you write your code there

In [2]:
import IPython
assert IPython.version_info[0] >= 3, "Your version of IPython is too old, please update it."

### Complete the following Python exercises and submit the notebook on class folder

In [3]:
# Imports
import numpy as np
from nose.tools import *
import IPython
assert IPython.version_info[0] >= 3, "Your version of IPython is too old, please update it."

ModuleNotFoundError: No module named 'nose'

### Part A - Python stuff

#### Question 1
Write a function that adds two numbers together. If the numbers result in decimals, make sure that they are rounded off to 2 significant decimals, i.e. 23.1234 + 12.4321 = 35.56

In [2]:
# warm up
def add_two_numbers(x,y):
    return x+y

In [4]:
# Run tests
assert_equal(add_two_numbers(34.257, 42.936), 77.19)

NameError: name 'assert_equal' is not defined

#### Question 2
Complete this function to provide the cummulative sum of the first N numbers. The numbers should be counted from 1,2,.... Tip: You may want to look at the range function of Python.
E.g. function(4) = 1+2+3+4 = 10

Add an additional check - if the number N provided is outside an acceptable range, return 0. The acceptable range is 0 - 200 inclusive (i.e. it includes 0 and 200)

In [27]:
def sum_first_N_numbers(N):
    sum = 0;
    for i in range(1,N+1):
        sum=sum+i
    return sum

In [28]:
# Tests 1
assert_equal(sum_first_N_numbers(4), 10)

NameError: name 'assert_equal' is not defined

In [55]:
# Tests 2
assert_equal(sum_first_N_numbers(0), 0)

NameError: name 'assert_equal' is not defined

In [ ]:
# Tests 3
assert_equal(sum_first_N_numbers(300), 0)

#### Question 3
Write a function to calculate the mean of a list of numbers. Numbers should be rounded off to 2 significant decimals if they are decimal numbers

E.g. function([2,2,2,2]) = 2

In [6]:
def get_mean(x):
    if not x:
        return None
    else:
        mean = sum(x) / len(x)
        return round(mean, 2)

In [1]:
# Tests 1
assert_equal(get_mean([2,3,4,5]), 3.5)

NameError: name 'assert_equal' is not defined

In [7]:
# Test 1
x_list = [2,3,4,5,6,7]
result = get_mean(x_list)
print(result)

4.5

#### Question 4
Complete the function to get the power of a number. Ensure that if it is a decimal number it is rounded off to 3 (THREE) decimal places. 

E.g. function(3,2) = 9

In [13]:
def get_i_power(x, i):
    result = x ** i
    
    if isinstance(result, float):
        result = round(result, 3)
        
    return(result)

In [14]:
# # Test 1
# assert_equal(get_i_power(3,2), 9)
result = get_i_power(3, 2)
print(result)

9

In [15]:
# Test 1
assert_equal(get_i_power(3,2), 9)

NameError: name 'assert_equal' is not defined

In [16]:
# # Tests 2
# assert_equal(get_i_power(2.6,5), 118.814)
result2 = get_i_power(2.6, 5)
print(result2)

118.814

In [ ]:
# Tests 2
assert_equal(get_i_power(2.6,5), 118.814)

#### Question 5
Write a function to reverse a string.

E.g. function('Mountain') = 'niatnuoM'

In [17]:
def reverse_string(s):
    return s[::-1]

In [9]:
# Test 1
assert_equal(reverse_string('Mount Meru'), 'ureM tnuoM')

NameError: name 'assert_equal' is not defined

In [18]:
# # Test 1
# assert_equal(reverse_string('Mount Meru'), 'ureM tnuoM')
reverse_string('Mount Meru')

'ureM tnuoM'

#### Question 6
Given the assignment_dates list, can you return the days from this string

E.g. function(assignment_dates) = ['Friday', 'Saturday', 'Sunday']

In [49]:
from datetime import datetime
def get_days(date_list):
    date_object = datetime.strptime(date_string,"%Y-%m-%d")
    day_of_week = date_object.strftime("%A")
    return day_of_week
    return(get_days(date_list))

In [ ]:
# Test 1
assignment_dates = ['Friday 27 Jan 2017', 'Saturday 12 March 2016', 'Sunday 3 October 2015']
assert_equal(get_days(assignment_dates), ['Friday', 'Saturday', 'Sunday'])

In [ ]:
assignment_dates2 = ['Monday 17 Jan 2017', 'Tuesday 1 March 2016', 'Wednesday 30 October 2015']
assert_equal(get_days(assignment_dates2), ['Monday', 'Tuesday', 'Wednesday'])

In [ ]:
# Tests 3
assignment_dates3 = ['Thursday 27 Jan 2017']
assert_equal(get_days(assignment_dates3), ['Thursday'])

#### Question 7
Complete the get_day_numbers function to return the INTEGER values for the numbers in the date

E.g. get_day_numbers(['Tue 23 April 2017']) = [23]

In [48]:
from datetime import datetime
def get_day_numbers(date_list):
    date_object = datetime.strptime(date_string,"%Y-%m-%d")
    day_number = date.object.weekday() + 1
    return day_number

In [ ]:
# Test1
assignment_dates = ['Friday 27 Jan 2017', 'Saturday 12 March 2016', 'Sunday 3 October 2015']
assert_equal(get_day_numbers(assignment_dates), [27, 12, 3])

In [ ]:
# Test2
assignment_dates2 = ['Monday 17 Jan 2017', 'Tuesday 1 March 2016', 'Wednesday 30 October 2015']
assert_equal(get_day_numbers(assignment_dates2), [17, 1, 30])

#### Question 8
Complete the function to get the year in the date. Make sure this stays a string not an Integer

In [5]:
from datetime import datetime
def get_years(date_list):
    date_object = datetime.strptime(date_string,"%Y-%m-%d")
    year_str = date.object.strftime("%Y")
    return year_str

In [ ]:
# Test1
assignment_dates = ['Friday 27 Jan 2017', 'Saturday 12 March 2016', 'Sunday 3 October 2015']
assert_equal(get_years(assignment_dates), ['2017', '2016', '2015'])

In [ ]:
# Test2
assignment_dates4 = ['Monday 17 Jan 2000', 'Tuesday 1 March 1998', 'Wednesday 30 October 2043']
assert_equal(get_years(assignment_dates4), ['2000', '1998', '2043'])

### Part B: Numpy

Consider the array below

In [11]:
import numpy as np
a = np.random.rand(4,5)
a

array([[0.04303679, 0.0560113 , 0.96886367, 0.16306528, 0.83807896],
       [0.11126045, 0.82783559, 0.86181475, 0.45381717, 0.80598125],
       [0.04451118, 0.46576432, 0.61614142, 0.53599541, 0.7547993 ],
       [0.87465229, 0.46669894, 0.69085448, 0.15927564, 0.82685438]])

1. Generate an array called `ans1` comprising only the 2nd to 4th columns
2. Generate an array called `ans2` of just the 1st to 3rd columns and the 2nd to 3rd rows
3. What is the mean and standard deviation of the rows in array a (Name them `arows_mean`, `arows_sd`)
4. Calculate the mean and variance of the columns in array a (Name them `acols_mean`, `acols_var`)

In [17]:
import numpy as np
a = np.random.rand(4,5)
a
ans1 = a[:, ::2]
print(ans1)

[[0.05240226 0.37807558 0.46749088]
 [0.10792385 0.57005714 0.05433516]
 [0.81107563 0.51687181 0.44091844]
 [0.34660866 0.60652429 0.23282811]]

In [24]:
import numpy as np
a = np.random.rand(4,5)
a
ans2 = a[::3, ::2]
print(ans2)

[[0.6024703  0.88334143 0.21792497]
 [0.62690184 0.00824339 0.26398564]]

In [20]:
import numpy as np
a = np.random.rand(4,5)
a
arows_mean = np.mean(a, axis=1)
arows_sd = np.std(a, axis=1)
print("mean is ", arows_mean)
print("standard deviation is", arows_sd)

mean is  [0.21622277 0.53116869 0.73371767 0.55881757]
standard deviation is [0.0870233  0.17225379 0.09343976 0.34675979]

In [27]:
import numpy as np
a = np.random.rand(4,5)
a
acols_mean = np.mean(a, axis=0)
acols_var = np.var(a, axis=1)
print(acols_mean)
print(acols_var)

[0.31721507 0.24114316 0.40653659 0.66033852 0.51051358]
[0.04009604 0.07662538 0.03541337 0.10271867]

NotImplementedError:

Use numpy to load up the datafile `irisdata.txt`. Also load up the labels that correspond to this file `irislabels.txt`

In [23]:
import numpy as np
# load the data
data_file = 'irisdata.txt'
iris_data = np.loadtxt(data_file, delimiter=',')

# load the labels
label_file = 'irislabels.txt'
iris_labels = np.loadtxt(label_file, dtype=int)

print("Iris data:\n", iris_data)
print("\n Iris Labels:\n", iris_labels)

Iris data:
 [[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]
 [5.4 3.9 1.7 0.4]
 [4.6 3.4 1.4 0.3]
 [5.  3.4 1.5 0.2]
 [4.4 2.9 1.4 0.2]
 [4.9 3.1 1.5 0.1]
 [5.4 3.7 1.5 0.2]
 [4.8 3.4 1.6 0.2]
 [4.8 3.  1.4 0.1]
 [4.3 3.  1.1 0.1]
 [5.8 4.  1.2 0.2]
 [5.7 4.4 1.5 0.4]
 [5.4 3.9 1.3 0.4]
 [5.1 3.5 1.4 0.3]
 [5.7 3.8 1.7 0.3]
 [5.1 3.8 1.5 0.3]
 [5.4 3.4 1.7 0.2]
 [5.1 3.7 1.5 0.4]
 [4.6 3.6 1.  0.2]
 [5.1 3.3 1.7 0.5]
 [4.8 3.4 1.9 0.2]
 [5.  3.  1.6 0.2]
 [5.  3.4 1.6 0.4]
 [5.2 3.5 1.5 0.2]
 [5.2 3.4 1.4 0.2]
 [4.7 3.2 1.6 0.2]
 [4.8 3.1 1.6 0.2]
 [5.4 3.4 1.5 0.4]
 [5.2 4.1 1.5 0.1]
 [5.5 4.2 1.4 0.2]
 [4.9 3.1 1.5 0.1]
 [5.  3.2 1.2 0.2]
 [5.5 3.5 1.3 0.2]
 [4.9 3.1 1.5 0.1]
 [4.4 3.  1.3 0.2]
 [5.1 3.4 1.5 0.2]
 [5.  3.5 1.3 0.3]
 [4.5 2.3 1.3 0.3]
 [4.4 3.2 1.3 0.2]
 [5.  3.5 1.6 0.6]
 [5.1 3.8 1.9 0.4]
 [4.8 3.  1.4 0.3]
 [5.1 3.8 1.6 0.2]
 [4.6 3.2 1.4 0.2]
 [5.3 3.7 1.5 0.2]
 [5.  3.3 1.4 0.2]
 [7.  3.2 4.7 1.4]
 [6.4 3.2 4.5 1.5]
 [6.9 3.1 4.9 1.5]
 [5.5 2.3 4.  1.3]
 [6.5 2.8 4.6 1.5]
 [5.7 2.8 4.5 1.3]
 [6.3 3.3 4.7 1.6]
 [4.9 2.4 3.3 1. ]
 [6.6 2.9 4.6 1.3]
 [5.2 2.7 3.9 1.4]
 [5.  2.  3.5 1. ]
 [5.9 3.  4.2 1.5]
 [6.  2.2 4.  1. ]
 [6.1 2.9 4.7 1.4]
 [5.6 2.9 3.6 1.3]
 [6.7 3.1 4.4 1.4]
 [5.6 3.  4.5 1.5]
 [5.8 2.7 4.1 1. ]
 [6.2 2.2 4.5 1.5]
 [5.6 2.5 3.9 1.1]
 [5.9 3.2 4.8 1.8]
 [6.1 2.8 4.  1.3]
 [6.3 2.5 4.9 1.5]
 [6.1 2.8 4.7 1.2]
 [6.4 2.9 4.3 1.3]
 [6.6 3.  4.4 1.4]
 [6.8 2.8 4.8 1.4]
 [6.7 3.  5.  1.7]
 [6.  2.9 4.5 1.5]
 [5.7 2.6 3.5 1. ]
 [5.5 2.4 3.8 1.1]
 [5.5 2.4 3.7 1. ]
 [5.8 2.7 3.9 1.2]
 [6.  2.7 5.1 1.6]
 [5.4 3.  4.5 1.5]
 [6.  3.4 4.5 1.6]
 [6.7 3.1 4.7 1.5]
 [6.3 2.3 4.4 1.3]
 [5.6 3.  4.1 1.3]
 [5.5 2.5 4.  1.3]
 [5.5 2.6 4.4 1.2]
 [6.1 3.  4.6 1.4]
 [5.8 2.6 4.  1.2]
 [5.  2.3 3.3 1. ]
 [5.6 2.7 4.2 1.3]
 [5.7 3.  4.2 1.2]
 [5.7 2.9 4.2 1.3]
 [6.2 2.9 4.3 1.3]
 [5.1 2.5 3.  1.1]
 [5.7 2.8 4.1 1.3]
 [6.3 3.3 6.  2.5]
 [5.8 2.7 5.1 1.9]
 [7.1 3.  5.9 2.1]
 [6.3 2.9 5.6 1.8]
 [6.5 3.  5.8 2.2]
 [7.6 3.  6.6 2.1]
 [4.9 2.5 4.5 1.7]
 [7.3 2.9 6.3 1.8]
 [6.7 2.5 5.8 1.8]
 [7.2 3.6 6.1 2.5]
 [6.5 3.2 5.1 2. ]
 [6.4 2.7 5.3 1.9]
 [6.8 3.  5.5 2.1]
 [5.7 2.5 5.  2. ]
 [5.8 2.8 5.1 2.4]
 [6.4 3.2 5.3 2.3]
 [6.5 3.  5.5 1.8]
 [7.7 3.8 6.7 2.2]
 [7.7 2.6 6.9 2.3]
 [6.  2.2 5.  1.5]
 [6.9 3.2 5.7 2.3]
 [5.6 2.8 4.9 2. ]
 [7.7 2.8 6.7 2. ]
 [6.3 2.7 4.9 1.8]
 [6.7 3.3 5.7 2.1]
 [7.2 3.2 6.  1.8]
 [6.2 2.8 4.8 1.8]
 [6.1 3.  4.9 1.8]
 [6.4 2.8 5.6 2.1]
 [7.2 3.  5.8 1.6]
 [7.4 2.8 6.1 1.9]
 [7.9 3.8 6.4 2. ]
 [6.4 2.8 5.6 2.2]
 [6.3 2.8 5.1 1.5]
 [6.1 2.6 5.6 1.4]
 [7.7 3.  6.1 2.3]
 [6.3 3.4 5.6 2.4]
 [6.4 3.1 5.5 1.8]
 [6.  3.  4.8 1.8]
 [6.9 3.1 5.4 2.1]
 [6.7 3.1 5.6 2.4]
 [6.9 3.1 5.1 2.3]
 [5.8 2.7 5.1 1.9]
 [6.8 3.2 5.9 2.3]
 [6.7 3.3 5.7 2.5]
 [6.7 3.  5.2 2.3]
 [6.3 2.5 5.  1.9]
 [6.5 3.  5.2 2. ]
 [6.2 3.4 5.4 2.3]
 [5.9 3.  5.1 1.8]]

 Iris Labels:
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

C:\Users\Gaveline\AppData\Local\Temp\ipykernel_11064\2055876808.py:8: DeprecationWarning: loadtxt(): Parsing an integer via a float is deprecated.  To avoid this warning, you can:
    * make sure the original data is stored as integers.
    * use the `converters=` keyword argument.  If you only use
      NumPy 1.23 or later, `converters=float` will normally work.
    * Use `np.loadtxt(...).astype(np.int64)` parsing the file as
      floating point and then convert it.  (On all NumPy versions.)
  (Deprecated NumPy 1.23)
  iris_labels = np.loadtxt(label_file, dtype=int)

1. What are the size of the data from the datafile? 
2. The irislabels file has the labels or classes corresponding to the data what are the sizes of the different classes ?

In [27]:
data_size = iris_data.shape
print("Size of the data is :", data_size)

unique_classes, class_count = np.unique(iris_labels, return_counts=True)
class_size = dict(zip(unique_classes, class_count))
for class_label, class_size in class_size.items():
   print(f"Class {class_label}: {class_size}")

Size of the data is : (150, 4)
Class 0: 50
Class 1: 50
Class 2: 50

#### Manually building a prototype based classifier

A prototype classifier obtains a very good representative of each class - also called a prototype and uses this for the classification task by computing the distance between a test set and the prototypes of each class. We are going to try and build one using this data.

To start this we need to split our data into a training and test set.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Now we want to get the prototypes. This process can be complicated but for now lets just get the average of each of the data examples representing each class.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Now lets see how well your algorithm performs

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

### Part C: Pandas - some data analytics tasks

Load the dataset `uganda_produce.csv` using pandas `pandas.read_csv`

In [36]:
import pandas as pd
df = pd.read_csv('uganda_produce.csv')
df

,country,item,element,Unit,Date,Value
0,Uganda,Bananas,Area Harvested,Ha,1/1/2003 12:00:00 AM,140323.0
1,Uganda,Bananas,Area Harvested,Ha,1/1/2004 12:00:00 AM,141083.0
2,Uganda,Bananas,Area Harvested,Ha,1/1/2005 12:00:00 AM,141505.0
3,Uganda,Bananas,Area Harvested,Ha,1/1/2006 12:00:00 AM,141674.0
4,Uganda,Bananas,Area Harvested,Ha,1/1/2007 12:00:00 AM,141758.0
...,...,...,...,...,...,...
1977,Uganda,Sunflower oil,Production Quantity,tonnes,1/1/2009 12:00:00 AM,75800.0
1978,Uganda,Sunflower oil,Production Quantity,tonnes,1/1/2010 12:00:00 AM,83400.0
1979,Uganda,Sunflower oil,Production Quantity,tonnes,1/1/2011 12:00:00 AM,92200.0
1980,Uganda,Sunflower oil,Production Quantity,tonnes,1/1/2012 12:00:00 AM,87100.0
1981,Uganda,Sunflower oil,Production Quantity,tonnes,1/1/2013 12:00:00 AM,80300.0

**Questions**

1. How many unique items are there in the dataset (Hint: you may want to investigate the `unique` method of pandas)
3. Of these products [sweet potatoes, beans and cassava] which had the highest yield overall ? What about for the year 2006 alone ?
2. Which commodity(item) overall had the highest area harvested ?
4. Plot the trend of area harvested for bananas over the years

In [37]:
import pandas as pd
unique_items_all_columns = df.stack().unique()
print("unique items accross columns")
print(unique_items_all_columns)

unique items accross columns
['Uganda' 'Bananas' 'Area Harvested' ... 92200.0 87100.0 80300.0]

In [39]:
#Dispaly the first few rows 
print(df.head())

max_product = df.loc[df['Value'].idxmax()]
print("highest area of harvest")
print(max_product)

  country     item         element Unit                  Date     Value
0  Uganda  Bananas  Area Harvested   Ha  1/1/2003 12:00:00 AM  140323.0
1  Uganda  Bananas  Area Harvested   Ha  1/1/2004 12:00:00 AM  141083.0
2  Uganda  Bananas  Area Harvested   Ha  1/1/2005 12:00:00 AM  141505.0
3  Uganda  Bananas  Area Harvested   Ha  1/1/2006 12:00:00 AM  141674.0
4  Uganda  Bananas  Area Harvested   Ha  1/1/2007 12:00:00 AM  141758.0
highest area of harvest
country                               Uganda
item       Fruit excl Melons,Total + (Total)
element                  Production Quantity
Unit                                  tonnes
Date                    1/1/2003 12:00:00 AM
Value                             10357475.0
Name: 528, dtype: object

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()